<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Add Patient</h4>
                <!-- <p class="card-category">Handcrafted by our friends from
                    <a target="_blank" href="https://design.google.com/icons/">Google</a>
                </p> -->
            </div>
            <div class="card-body">
                <form [formGroup]="patientForm">

                    <h3>Patient Information</h3>
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>Patient Name</mat-label>
                            <input matInput formControlName="patientName" required
                                placeholder="Enter Your Patient Name">
                            <mat-error>
                                Patient Name is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>Home Phone</mat-label>
                            <input matInput type="number" formControlName="homePhone" required
                                placeholder="Enter Your Patient Name">
                            <mat-error>
                                Patient Name is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>address</mat-label>
                            <textarea matInput formControlName="address" required
                                placeholder="Enter Your Patient Name"></textarea>
                            <mat-error>
                                Patient Name is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>office Phone</mat-label>
                            <input matInput type="number" formControlName="officePhone" required
                                placeholder="Enter Your Patient Name">
                            <mat-error>
                                Office Phone is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>fax</mat-label>
                            <input matInput type="number" formControlName="fax" required
                                placeholder="Enter Your Patient Name">
                            <mat-error>
                                Fax is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>Birth Date</mat-label>
                            <input matInput formControlName="birthDate" placeholder="Birth Date"
                                [matDatepicker]="picker" name="birthDate">
                            <mat-datepicker-toggle #toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error>
                                Birth Date is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>status</mat-label>
                            <mat-select name="status" formControlName="status">
                                <mat-option value="Active">
                                    Active
                                </mat-option>
                                <mat-option value="InActive">
                                    InActive
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                Status is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>Gender</mat-label>
                            <mat-select name="type" formControlName="gender">
                                <mat-option value="male">
                                    Male
                                </mat-option>
                                <mat-option value="female">
                                    FeMale
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                Gender is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>Marital Status</mat-label>
                            <mat-select name="maritalStatus" formControlName="maritalStatus">
                                <mat-option value="Married">
                                    Married
                                </mat-option>
                                <mat-option value="Unmarried">
                                    Unmarried
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                Patient Name is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>contactBy</mat-label>
                            <input matInput formControlName="contactBy" required placeholder="Enter Your Patient Name">
                            <mat-error>
                                Patient Name is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>race</mat-label>
                            <input matInput formControlName="race" required placeholder="Enter Your Patient Name">
                            <mat-error>
                                Patient Name is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>soc Sec No</mat-label>
                            <input matInput formControlName="socSecNo" required placeholder="Enter Your Patient Name">
                            <mat-error>
                                Patient Name is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>language</mat-label>
                            <input matInput formControlName="language" required placeholder="Enter Your Patient Name">
                            <mat-error>
                                Patient Name is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>resp Prov</mat-label>
                            <input matInput formControlName="respProv" required placeholder="Enter Your Patient Name">
                            <mat-error>
                                Patient Name is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>mrn</mat-label>
                            <input matInput formControlName="mrn" required placeholder="Enter Your Patient Name">
                            <mat-error>
                                Patient Name is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>referredBy</mat-label>
                            <input matInput formControlName="referredBy" required placeholder="Enter Your Patient Name">
                            <mat-error>
                                Patient Name is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>empStatus</mat-label>
                            <input matInput formControlName="empStatus" required placeholder="Enter Your Patient Name">
                            <mat-error>
                                Patient Name is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>email</mat-label>
                            <input matInput formControlName="email" required placeholder="Enter Your Patient Name">
                            <mat-error>
                                Patient Name is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>sens Chart</mat-label>
                            <input matInput formControlName="sensChart" required placeholder="Enter Your Patient Name">
                            <mat-error>
                                Patient Name is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>home LOC</mat-label>
                            <input matInput formControlName="homeLOC" required placeholder="Enter Your Patient Name">
                            <mat-error>
                                Patient Name is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>External ID</mat-label>
                            <input matInput formControlName="externalID" required placeholder="Enter Your ExternalID">
                            <mat-error>
                                ExternalID is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <h3>Problems</h3>

                    <mat-form-field class="example-chip-list" appearance="outline" floatLabel="always">
                        <mat-chip-list #chipList aria-label="Fruit selection">
                            <mat-chip *ngFor="let jobTitle of problemTitles" [selectable]="selectable"
                                [removable]="removable" (removed)="removeProblem(jobTitle)">
                                {{jobTitle.title}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="Job Title..." [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="addProblem($event)" formControlName="problems">
                        </mat-chip-list>
                    </mat-form-field>

                    <h3>Medications</h3>

                    <mat-form-field class="example-chip-list" appearance="outline" floatLabel="always">
                        <mat-chip-list #chipList aria-label="Fruit selection">
                            <mat-chip *ngFor="let jobTitle of medicationTitles" [selectable]="selectable"
                                [removable]="removable" (removed)="removeMedication(jobTitle)">
                                {{jobTitle.title}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input placeholder="Job Title..." [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="addMedication($event)" formControlName="medications">
                        </mat-chip-list>
                    </mat-form-field>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>Patient History</mat-label>
                            <input matInput formControlName="patientHistory" required
                                placeholder="Enter Your Patient History">
                            <mat-error>
                                Patient History is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>Physical Exam</mat-label>
                            <input matInput formControlName="physicalExam" required
                                placeholder="Enter Your  Physical Exam">
                            <mat-error>
                                Physical Exam is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>Hospital Name</mat-label>
                            <input matInput formControlName="hospitalName" required
                                placeholder="Enter Your Hospital Name">
                            <mat-error>
                                Hospital Name is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>Hospital Fax</mat-label>
                            <input matInput formControlName="hospitalFax" required
                                placeholder="Enter Your Hospital Fax">
                            <mat-error>
                                Hospital Fax is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>Hospital Phone</mat-label>
                            <input matInput formControlName="hospitalPhone" required
                                placeholder="Enter Your Hospital Phone">
                            <mat-error>
                                Hospital Phone is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <h3>Review Of Systems</h3>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>general</mat-label>
                            <input matInput formControlName="general" required placeholder="Enter Your Hospital Phone">
                            <mat-error>
                                Hospital Phone is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>EyesEar/Nose/Throat</mat-label>
                            <input matInput formControlName="eyesEarOrNoseOrThroat" required
                                placeholder="Enter Your Hospital Phone">
                            <mat-error>
                                Hospital Phone is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>Cardiovascular</mat-label>
                            <input matInput formControlName="cardiovascular" required
                                placeholder="Enter Your Hospital Phone">
                            <mat-error>
                                Hospital Phone is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>Gastrointestinal Genitourinary</mat-label>
                            <input matInput formControlName="gastrointestinalGenitourinary" required
                                placeholder="Enter Your Hospital Phone">
                            <mat-error>
                                Hospital Phone is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>Musculoskeletal</mat-label>
                            <input matInput formControlName="musculoskeletal" required
                                placeholder="Enter Your Hospital Phone">
                            <mat-error>
                                Hospital Phone is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>skin</mat-label>
                            <input matInput formControlName="skin" required placeholder="Enter Your Hospital Phone">
                            <mat-error>
                                Hospital Phone is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>Neurologic</mat-label>
                            <input matInput formControlName="neurologic" required
                                placeholder="Enter Your Hospital Phone">
                            <mat-error>
                                Hospital Phone is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>Psychiatric</mat-label>
                            <input matInput formControlName="psychiatric" required
                                placeholder="Enter Your Hospital Phone">
                            <mat-error>
                                Hospital Phone is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>Endocrine</mat-label>
                            <input matInput formControlName="endocrine" required
                                placeholder="Enter Your Hospital Phone">
                            <mat-error>
                                Hospital Phone is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>Heme/Lymphatic</mat-label>
                            <input matInput formControlName="hemeOrLymphatic" required
                                placeholder="Enter Your Hospital Phone">
                            <mat-error>
                                Hospital Phone is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>LymphaticAllergic/Immunologic</mat-label>
                            <input matInput formControlName="lymphaticAllergicOrImmunologic" required
                                placeholder="Enter Your Hospital Phone">
                            <mat-error>
                                Hospital Phone is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>Height</mat-label>
                            <input matInput formControlName="ht" required placeholder="Enter Your Hospital Phone">
                            <mat-error>
                                Hospital Phone is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>Weight</mat-label>
                            <input matInput type="number" formControlName="wt" required
                                placeholder="Enter Your Hospital Phone">
                            <mat-error>
                                Hospital Phone is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>Rhythm</mat-label>
                            <input matInput formControlName="rhythm" required placeholder="Enter Your Hospital Phone">
                            <mat-error>
                                Hospital Phone is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline">
                            <mat-label>BP</mat-label>
                            <input matInput formControlName="bP" required placeholder="Enter Your Hospital Phone">
                            <mat-error>
                                Hospital Phone is required &nbsp;:&nbsp;
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <button mat-raised-button color="primary" [disabled]="patientForm.invalid" style="float: right;"
                        (click)="addPatient()">
                        <mat-icon>add</mat-icon> Add Patient
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>